# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/mwproject
/winword64/.vs/winword64/v16
/winword64/Debug
/winword64/winword64/Debug
/winword64/winword64/winword64.vcxproj.filters
/winword64/winword64/winword64.vcxproj.user
